{% extends 'base.html' %}
{% load static %}
{% load bag_tools %}

{% block extra_title %}Bag{% endblock %}

{% block content %}

<div class="bag-container">
    <div class="row justify-content-center">
        <div class="col-12 col-md-10 col-xl-6 col-xxl-4 mx-auto">
            <h1 class="page-title">Bag</h1>
            <hr class="page-title-hr">
            <div class="row">
                <div class="col-12 mt-3">
                    {% if bag_items %}
                        {% for item in bag_items %}
                            <div class="row">
                                <div class="col-12 col-sm-3 mt-2">
                                    <img src="{{ item.product.image.url }}" class="bag-img" alt="{{ item.product.name }}">
                                </div>
                                <div class="col-12 col-sm-2 mt-2">
                                    "{{ item.product.name }}"
                                </div>
                                <div class="col-12 col-sm-2 mt-2">
                                    €{{ item.product.price }}
                                </div>
                                <div class="col-12 col-sm-3 mt-2">
                                    <a class="update-link">Update</a>
                                    <form class="update-form" method="POST" action="{% url 'edit_bag' item.item_id %}">
                                        {% csrf_token %}
                                        <div class="form-group qty-form">
                                            <div class="input-group">
                                                <p>Qty:</p>
                                                <input class="form-control qty_input" type="number" name="quantity"
                                                    value="{{ item.quantity }}" min="0" max="99" data-item_id="{{ item.item_id }}"
                                                    id="id_qty_{{ item.item_id }}">
                                            </div>
                                        </div>
                                    </form>
                                    <a class="remove-item" id="remove_{{ item.item_id }}">Remove</a>
                                </div>
                                <div class="col-12 col-sm-2 mt-2">
                                    €{{ item.product.price | calc_subtotal:item.quantity }}
                                </div>
                            </div>
                            <hr>
                        {% endfor %}
                        <div class="ml-auto text-right mt-3">
                            <p>Subtotal: €{{ total|floatformat:2 }}</p>
                            {% if delivery %}
                                <p>Delivery: €{{ delivery|floatformat:2 }}</p>
                            {% endif %}
                            <p class="top-text"><strong>Grand Total: €{{ grand_total|floatformat:2 }}</strong></p>
                            <a class="btn" href="{% url 'products' %}">Continue Shopping</a>
                            {% if request.user.is_authenticated %}
                                <a class="btn" href="{% url 'checkout' %}">Checkout</a>
                            {% else %}
                                <a class="btn" href="{% url 'signin_guest' %}">Checkout</a>
                            {% endif %}
                        </div>
                    {% else %}
                        <h2>Your bag is empty</h2>
                        <a class="btn" href="{% url 'products' %}">Shop Now!</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block postloadjs %}
{{ block.super }}

<script type="text/javascript">
    // Update quantity of item in bag
    $('.update-link').click(function (e) {
        var form = $(this).next('.update-form');
        form.submit();
    })

    // Remove item from bag
    $('.remove-item').click(function (e) {
        var csrfToken = "{{ csrf_token }}";
        var itemId = $(this).attr('id').split('remove_')[1];
        var url = `/bag/remove/${itemId}/`;
        var data = {
            'csrfmiddlewaretoken': csrfToken
        };

        $.post(url, data)
            .done(function () {
                location.reload();
            });
    })
</script>

{% endblock %}