{% extends 'base.html' %}
{% load static %}

{% block extra_title %}Home{% endblock %}

{% block content %}


<!-- Welcome container -->
<div class="welcome-container">
    <div class="container-fluid">
        <div class="row hero-height">
            <div class="col-12 col-md-4 text-right welcome-content pr-2 pl-md-2">
                <h1>BEAUTY<br>OF<br>CREATION</h1>
                <a class="btn" href="{% url 'products' %}">SHOP NOW</a>
            </div>
        </div>
    </div>
</div>
<div class="home-info-cont">
    <div class="text-center mb-2">
        <h2>Who We Are</h2>
        <p>We’re an online art shop here to help you find something you love and learn along the way</p>
    </div>
    <hr class="home-break">
    <!-- Changes spaces section -->
    <div class="row d-flex justify-content-center mb-5 mt-5">
        <div class="col-12 col-md-7 col-lg-4 text-right pr-0 pr-md-5">
            <div class=" home-info-text">
                <h3 class="mb-3">Changing Spaces</h3>
                <p>Art is one of the best ways to change your environment.</p>
                <br>
                <p>Perfectly curating pieces that work with both your aesthetic and your space brings life and personality to what was once drab and cold. It makes a statement that you can be proud of</p>
                <br>
                <p>Art can promote creativity, wellness and relaxation.</p>
            </div>
        </div>
        <div class="col-12 col-md-5 col-lg-3">
            <img src="{{ MEDIA_URL }}space.jpg" class="img-fluid d-none d-md-block" alt="room with pictures hanging">
        </div>
    </div>
    <hr class="home-break">
    <!-- Promoting artists section -->
    <div class="row d-flex justify-content-center mb-5 mt-5">
        <div class="col-12 col-md-5 col-lg-3">
            <img src="{{ MEDIA_URL }}promotion.jpg" class="img-fluid d-none d-md-block" alt="group of people tallking">
        </div>
        <div class="col-12 col-md-7 col-lg-4 pl-0 pl-md-5">
            <div class=" home-info-text">
            <h3 class="mb-3">Promoting Artists</h3>
            <p>Artists are the heros of creativity.</p>
            <br>
            <p>They don't always get the recognition that they deserve so we wanted to change that! We promote not just the work but the artist themselves.</p>
            <br>
            <p>Feel free to browse through our selected artisits and maybe make a connection with them!</p>
            </div>
        </div>
    </div>
    <hr class="home-break">
    <!-- Driving passion section -->
    <div class="row d-flex justify-content-center mb-5 mt-5">
        <div class="col-12 col-md-7 col-lg-4 text-right pr-0 pr-md-5">
            <div class=" home-info-text">
                <h3 class="mb-3">Driving your Passion</h3>
                <p>We believe that creating art is something that everyone should be able to enjoy.</p>
                <br>
                <p>That's why we provide free art tutorials to our registered users.</p>
                <br>
                <p>Whether you're a beginner trying to learn a few tips or a seasonsed artist wanting to try some new techniques or finesse some old ones, you will find something that works for you.</p>
            </div>
        </div>
        <div class="col-12 col-md-5 col-lg-3">
            <img src="{{ MEDIA_URL }}learn.jpg" class="img-fluid d-none d-md-block" alt="studio room with books piled up">
        </div>
    </div>
</div>

{% endblock %}