{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="container mx-auto">
    <div class="row">
        <div class="col-12 col-md-5">
            <div class="artist-img-cont">
                <a href="{{ artist.image.url }}" target="blank">
                    <img src="{{ artist.image.url }}" alt="{{ artist.name }}" class="artist-info-img" id="artist-img">
                </a>
            </div>
        </div>
        <div class="col-12 col-md-7">
            <p class="mb-1 top-text">{{ artist.name }}</p>
            <p class="mb-1">{{ artist.artist_statement }}</p>
            <p class="mb-1">Contact the Artist</p>
            <ul class="list-unstyled artist-socials">
                {% if artist.instagram_url %}
                <li>
                    <a href="{{ artist.instagram_url }}" target="_blank" title="Instagram link">
                        <i class="fab fa-instagram-square"></i>
                    </a>
                </li>
                {% endif %}
                {% if artist.facebook_url %}
                <li>
                    <a href="{{ artist.facebook_url }}" target="_blank" title="Facebook link">
                        <i class="fab fa-facebook-square"></i>
                    </a>
                </li>
                {% endif %}
                {% if artist.youtube_url %}
                <li>
                    <a href="{{ artist.youtube_url }}" target="_blank" title="youtube link">
                        <i class="fab fa-youtube"></i>
                    </a>
                </li>
                {% endif %}
                {% if artist.twitter_url %}
                <li>
                    <a href="{{ artist.twitter_url }}" target="_blank" title="twitter link">
                        <i class="fab fa-twitter-square"></i>
                    </a>
                </li>
                {% endif %}
                {% if artist.linkedin_url %}
                <li>
                    <a href="{{ artist.linkedin_url }}" target="_blank" title="Linkedin link">
                        <i class="fab fa-linkedin"></i>
                    </a>
                </li>
                {% endif %}
                {% if artist.website_url %}
                <li>
                    <a href="{{ artist.website_url }}" target="_blank" title="Website link">
                        <i class="fas fa-globe"></i>
                    </a>
                </li>
                {% endif %}
            </ul>
            <div>
                <a href="{% url 'artists' %}" class="btn">All Artists</a>
                <a href="{% url 'products' %}" class="btn">Shop Now!</a>
            </div>
            {% if request.user.is_superuser %}
                <div class="mt-5">
                    <a href="{% url 'edit_artist' artist.id %}" class="admin-edit-btn mr-2">Edit Artist</a>
                    <button type="button" class="admin-delete-btn" data-toggle="modal" data-target="#delete_artist{{artist.id}}">
                        Delete Artist
                    </button>
                </div>
                <div class="modal" id="delete_artist{{artist.id}}">
                    <div class="modal-content">
                        <p>You are about to pemanantly delete this artist</p>
                        <p>Once you have deleted it, you cannot get it back</p>
                        <p>Are you sure that you wish to delete?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn" data-dismiss="modal">Cancel</button>
                        <a href="{% url 'delete_artist' artist.id %}" class="btn">Delete</a>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
    <div class="card-columns">
    {% for product in products %}
        {% if product.artist|lower == artist.name|lower %}
                <div class="card">
                    <a href="{% url 'product_detail' product.id %}">
                        <img src="{{ product.image.url }}" class="artist-gallery-img img-fluid item">
                    </a>
                </div>
            {% endif %}
        {% endfor %}
    </div>




</div>


{% endblock %}

{% block postloadjs %}
    {{ block.super }}
<script type="text/javascript">

    const img = document.getElementById('artist-img')

    let width = img.clientWidth;
    let height = img.clientHeight;

    if (width < height ) {
        img.classList.add("portrait")
    } else {
        img.classList.add("landscape")
    }
    

</script>
{% endblock %}