{% extends 'base.html' %}
{% load static %}

{% block extra_title %}Artist Information{% endblock %}

{% block content %}

<div class="container artist-info-container mx-auto">
    <div class="row">
        <h1 class="page-title">{{ artist.name }}</h1>
        <hr class="page-title-hr mb-5">
        <div class="col-12 col-md-5">
            <div class="artist-img-cont">
                {% if artist.image %}
                    <a href="{{ artist.image.url }}" target="blank">
                        <img src="{{ artist.image.url }}" alt="{{ artist.name }}" class="artist-info-img" id="artist-img">
                    </a>
                {% else %}
                    <a href="{{ MEDIA_URL }}no-image.png" target="blank">
                        <img src="{{ MEDIA_URL }}no-image.png" alt="{{ artist.name }}" class="artist-info-img" id="artist-img">
                    </a>
                {% endif %}

            </div>
        </div>
        <div class="col-12 col-md-7 artist-statement-container pl-3">
            <p class="mb-1">{{ artist.artist_statement }}</p>
            <p class="mb-1">Contact the Artist</p>
            <ul class="list-unstyled artist-socials">
                {% if artist.instagram_url %}
                <li>
                    <a href="{{ artist.instagram_url }}" target="_blank" title="Instagram link">
                        <i class="fab fa-instagram-square"></i>
                    </a>
                </li>
                {% endif %}
                {% if artist.facebook_url %}
                <li>
                    <a href="{{ artist.facebook_url }}" target="_blank" title="Facebook link">
                        <i class="fab fa-facebook-square"></i>
                    </a>
                </li>
                {% endif %}
                {% if artist.youtube_url %}
                <li>
                    <a href="{{ artist.youtube_url }}" target="_blank" title="youtube link">
                        <i class="fab fa-youtube"></i>
                    </a>
                </li>
                {% endif %}
                {% if artist.twitter_url %}
                <li>
                    <a href="{{ artist.twitter_url }}" target="_blank" title="twitter link">
                        <i class="fab fa-twitter-square"></i>
                    </a>
                </li>
                {% endif %}
                {% if artist.linkedin_url %}
                <li>
                    <a href="{{ artist.linkedin_url }}" target="_blank" title="Linkedin link">
                        <i class="fab fa-linkedin"></i>
                    </a>
                </li>
                {% endif %}
                {% if artist.website_url %}
                <li>
                    <a href="{{ artist.website_url }}" target="_blank" title="Website link">
                        <i class="fas fa-globe"></i>
                    </a>
                </li>
                {% endif %}
            </ul>
            <div>
                <a href="{% url 'artists' %}" class="btn">All Artists</a>
                <a href="{% url 'products' %}" class="btn">Shop Now!</a>
            </div>
            {% if request.user.is_superuser %}
            <div class="mt-5">
                <a href="{% url 'edit_artist' artist.id %}" class="admin-edit-btn mr-2">Edit Artist</a>
                <button type="button" class="admin-delete-btn" data-toggle="modal"
                    data-target="#delete_artist{{artist.id}}">
                    Delete Artist
                </button>
            </div>
            <!-- Delete Modal -->
            <div class="modal fade mt-5" id="delete_artist{{artist.id}}" tabindex="-1" role="dialog"
                aria-labelledby="delete_artist{{artist.id}}Label" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="delete_artist{{artist.id}}Label">Delete Confirmation</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <p class="mt-1">You are about to pemanantly delete this artist</p>
                            <p class="mt-1">Once you have deleted it, you cannot get it back</p>
                            <p class="mt-1">Are you sure that you wish to delete?</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn mr-2" data-dismiss="modal">Cancel</button>
                            <a href="{% url 'delete_artist' artist.id %}" class="btn modal-del-btn">Delete</a>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
    <!-- Artists products -->
    <div class="card-columns">
        {% for product in products %}
            {% if product.artist|lower == artist.name|lower %}
            <div class="card">
                {% if product.image %}
                    <a href="{% url 'product_detail' product.id %}">
                        <img src="{{ product.image.url }}" alt="{{ product.name }}" class="artist-gallery-img img-fluid item">
                    </a>
                {% else %}
                    <a href="{% url 'product_detail' product.id %}" class="text-center">
                        <img src="{{ MEDIA_URL }}no-image.png" alt="{{ product.name }}" class="artist-gallery-img img-fluid item">
                        <p class="backup-image-text">{{ product.name }}</p>
                    </a>
                {% endif %}
            </div>
            {% endif %}
        {% endfor %}
    </div>
</div>

{% endblock %}

{% block postloadjs %}
{{ block.super }}
    <script src="{% static 'artists/js/artist-image.js' %}"></script>
{% endblock %}