{% extends 'base.html' %}
{% load static %}

{% block extra_title %}Artists{% endblock %}

{% block content %}

<div class="row mx-auto artists-cont main-container">
    <div class="col-12 col-lg-8 mx-auto">
        <!-- Page Title -->
        <h1 class="page-title">Artists</h1>
        <hr class="page-title-hr mb-5">
        <div class="row text-center">
            {% if artists|length < 1%}
                <p class="mt-5">Sorry, there are no products available at the moment</p>
                <a class="btn" href="{% url 'products' %}">Shop Products</a>
                <a class="btn" href="{% url 'classes' %}">View Classes</a>
            {% endif %}
        </div>
        <div class="row">
        <!-- Artist cards -->
        {% for artist in artists %}
            <div class="col-12 col-sm-6 col-md-4 col-xl-3 d-flex justify-content-center">
                <div class="card item">
                    <a href="{% url 'artist_detail' artist.id %}">
                        <div>
                            {% if artist.image %}
                                <img src="{{ artist.image.url }}" alt="{{ artist.name }}" class="card-img img-fluid">
                            {% else %}
                                <img src="{{ MEDIA_URL }}no-image.png" alt="{{ artist.name }}" class="card-img img-fluid">
                            {% endif %}
                        </div>
                        <div class="card-text">
                            <p>
                                {{ artist.name }}
                            </p>
                        </div>
                    </a>
                </div>
            </div>
        {% endfor %}
        </div>
    </div>
</div>



{% endblock %}
