{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="row mx-auto artists-cont">
    <div class="col-12 col-lg-8 mx-auto">
        <div class="row">
        {% for artist in artists %}
            <div class="col-12 col-sm-6 col-md-4 col-xl-3 d-flex justify-content-center">
                <div class="card item">
                    <a href="{% url 'artist_detail' artist.id %}">
                        <div>
                            <img src="{{ artist.image.url }}" alt="{{ artist.name }}"class="card-img img-fluid">
                        </div>
                        <div class="card-text">
                            <p>
                                {{ artist.name }}
                            </p>
                        </div>
                    </a>
                </div>
            </div>
        {% endfor %}
        </div>
    </div>
</div>



{% endblock %}
