{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'profiles/css/profile.css' %}">
{% endblock %}

{% block extra_title %}Profile{% endblock %}

{% block content %}

<div class="profile-container">
    <div class="row justify-content-center">
        <div class="col-12 col-md-10 col-xl-8 col-xxl-6 mx-auto">
            <h1 class="page-title">My Profile</h1>
            <hr class="page-title-hr">
            <div class="row">
                <div class="col-12 col-lg-5 mx-auto">
                    <h2 class="mt-3 mb-2">Default Delivery Information</h2>
                    <form action="{% url 'profile' %}" method="POST" id="update-profile-form">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <button id="submit-button" class="btn">Update</button>
                    </form>
                </div>
                <div class="col-12 col-lg-5 mx-auto">
                    <h2 class="mt-3 mb-2">Order History</h2>
                    <div class="order-history">
                        {% for order in orders %}
                            <hr>
                            <div class="row mt-2">
                                <div class="col-6 col-md-2">
                                    <a href="{% url 'order_history' order.order_number %}">{{ order.order_number|truncatechars:6 }}</a>
                                </div>
                                <div class="col-6 col-md-3">
                                    {{ order.date|date:"d/m/Y" }}
                                </div>
                                <div class="col-6 col-md-5">
                                    <ul class="list-unstyled">
                                        {% for item in order.lineitems.all %}
                                            <li>{{ item.product.name }} x {{ item.quantity }}</li>
                                        {% endfor %}
                                    </ul>
                                </div>
                                <div class="col-6 col-md-2">
                                    {{ order.grand_total }}
                                </div>
                                <hr class="page-title-hr">
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}