{% extends 'base.html' %}
{% load static %}
{% load bag_tools %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}">
{% endblock %}

{% block extra_title %}Sign In or Guest{% endblock %}

{% block content %}

<div class="main-container">
    <div class="row justify-content-center">
        <div class="col-12 col-lg-8 col-xl-6 col-xxl-4 mx-auto">
            <h1 class="page-title">Sign In or Continue as Guest</h1>
            <hr class="page-title-hr">
            <div class="row guest-content">
                <div class="col-12 col-lg-4 mx-auto text-center">
                    <h2 class="mb-2 mt-3"><strong>Returning Customer</strong></h2>
                    <p>Use the button below to sign into your account<br>Don't worry, the content of your bag will be safe!</p>
                    <a href="{% url 'account_login' %}" class="btn mt-2 mb-3">Sign In</a>
                    <h2 class="mb-2 mt-3"><strong>New Customer</strong></h2>
                    <p>If you don't have an account, you can use the button below to create one<br>Once you have an account, you will be able to access all of the class content that we offer.
                    <a href="{% url 'account_signup' %}" class="btn mt-2">Register</a>
                </div>
                <div class="col-12 col-lg-1 divider"></div>
                <div class="col-12 col-lg-1"></div>
                <div class="col-12 col-lg-4 mx-auto text-center">
                    <h2 class="mb-2 mt-3"><strong>Continue As Guest</strong></h2>
                    <p>If you prefer not to make an account, please use the button below to continue as a guest</p>
                    <a href="{% url 'checkout' %}" class="btn mt-2">Continue as Guest</a>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}