{% extends 'base.html' %}
{% load static %}

{% block extra_title %}FAQ's{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-12 col-md-10 col-xl-8 col-xxl-6 mx-auto">
        <h1 class="page-title">FAQ's</h1>
        <hr class="page-title-hr">
    </div>
</div>

<div class="row">
    <div class="col-12 col-lg-6 mx-auto">
        <div class="accordion" id="faqaccordion">
            <div class="card">
                <div class="card-header" id="headingOne">
                    <h2>
                        <button class="btn" type="button" data-toggle="collapse" data-target="#collapseOne"
                            aria-expanded="true" aria-controls="collapseOne">
                            <strong>What’s the difference between an Original & a Print?</strong>
                        </button>
                    </h2>
                </div>
                <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#faqaccordion">
                    <div class="card-body">
                        An original piece of art is one that the artist has physicaly worked on. While this will more
                        than likely be photographed or scanned for reproduction, there will only be one original. The
                        value of this will be much higher than a print as it is the artists own work.<br><br>A print can
                        either be a printed/photgraphed version of an original work, or it will simply be work that was
                        made with the purpose of print - like digital art or photography.
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingTwo">
                    <h2>
                        <button class="btn" type="button" data-toggle="collapse" data-target="#collapseTwo"
                            aria-expanded="false" aria-controls="collapseTwo">
                            <strong>Can I contact an artist directly?</strong>
                        </button>
                    </h2>
                </div>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#faqaccordion">
                    <div class="card-body">
                        Some of our artists have provided contact information so that customers can get in touch
                        directly.<br><br>If they have provided the infomration to us, there will be a link on the bottom
                        of the artists page on our site.
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingEleven">
                    <h2>
                        <button class="btn" type="button" data-toggle="collapse" data-target="#collapseEleven"
                            aria-expanded="false" aria-controls="collapseEleven">
                            <strong>Do I have to have an account to buy from you?</strong>
                        </button>
                    </h2>
                </div>
                <div id="collapseEleven" class="collapse" aria-labelledby="headingEleven" data-parent="#faqaccordion">
                    <div class="card-body">
                        No, you don't! We allow the option of not having to sign up for an account if you think that you
                        will just be a one-time buyer.<br><br>However, if you <a href="{% url 'account_signup' %}"><strong>sign up for an account</strong></a>, you will be able to access the classes that we have to
                        offer.<br> You will also have an easy record of all of your previous purchases.
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingThree">
                    <h2>
                        <button class="btn" type="button" data-toggle="collapse" data-target="#collapseThree"
                            aria-expanded="false" aria-controls="collapseThree">
                            <strong>I forgot my account password, what should I do?</strong>
                        </button>
                    </h2>
                </div>
                <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#faqaccordion">
                    <div class="card-body">
                        If you have forgotten your password, you can click the 'Forgot my Password' button and follow the instruction given.
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingSix">
                    <h2>
                        <button class="btn" type="button" data-toggle="collapse" data-target="#collapseSix"
                            aria-expanded="false" aria-controls="collapseSix">
                            <strong>How much does delivery cost?</strong>
                        </button>
                    </h2>
                </div>
                <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#faqaccordion">
                    <div class="card-body">
                        At the moment we offer flat rate delivery of €{{ delivery_cost }} for orders under
                        €{{ free_delivery }} and free delivery above that amount.
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingFive">
                    <h2>
                        <button class="btn" type="button" data-toggle="collapse" data-target="#collapseFive"
                            aria-expanded="false" aria-controls="collapseFive">
                            <strong>Do you deliver internationally?</strong>
                        </button>
                    </h2>
                </div>
                <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#faqaccordion">
                    <div class="card-body">
                        Yes we do! Simply fill in the form on our checkout and select your desired country - we'll take
                        care of the rest!
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingFour">
                    <h2>
                        <button class="btn" type="button" data-toggle="collapse" data-target="#collapseFour"
                            aria-expanded="false" aria-controls="collapseFour">
                            <strong>How long is the delivery time?</strong>
                        </button>
                    </h2>
                </div>
                <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#faqaccordion">
                    <div class="card-body">
                        Delivery times will depend on your location. Below is a delivery times guide to help:
                        <table>
                            <thead>
                                <tr>
                                    <td>Location</td>
                                    <td>Estimated Time</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Ireland</td>
                                    <td>3-5 Days</td>
                                </tr>
                                <tr>
                                    <td>UK & NI</td>
                                    <td>5-7 Days</td>
                                </tr>
                                <tr>
                                    <td>Mainland Europe</td>
                                    <td>7-10 Days</td>
                                </tr>
                                <tr>
                                    <td>Rest of Europe</td>
                                    <td>10-14 Days</td>
                                </tr>
                                <tr>
                                    <td>United States</td>
                                    <td>14-21 Days</td>
                                </tr>
                                <tr>
                                    <td>All Other Countries</td>
                                    <td>30-40 Days</td>
                                </tr>
                            </tbody>
                        </table>
                        Please note that the above times are estimates. Actual times may vary.
                    </div>
                </div>
            </div>            
            <div class="card">
                <div class="card-header" id="headingSeven">
                    <h2>
                        <button class="btn" type="button" data-toggle="collapse" data-target="#collapseSeven"
                            aria-expanded="false" aria-controls="collapseSeven">
                            <strong>Can I get express delivery?</strong>
                        </button>
                    </h2>
                </div>
                <div id="collapseSeven" class="collapse" aria-labelledby="headingSeven" data-parent="#faqaccordion">
                    <div class="card-body">
                        At the moment we only offer standard delivery via post.
                    </div>
                </div>
            </div>           
            <div class="card">
                <div class="card-header" id="headingEight">
                    <h2>
                        <button class="btn" type="button" data-toggle="collapse" data-target="#collapseEight"
                            aria-expanded="false" aria-controls="collapseEight">
                            <strong>How do I hang or display my new artwork?</strong>
                        </button>
                    </h2>
                </div>
                <div id="collapseEight" class="collapse" aria-labelledby="headingEight" data-parent="#faqaccordion">
                    <div class="card-body">
                        This process will depend on a few factors:
                        <ul>
                            <li>What type of work you have</li>
                            <li>How you would like them to look in your chosen space</li>
                        </ul>
                        If you have an origanal piece that was created on a canvas you can either hang this diectly onto
                        the wall or buy a small mount for a table.
                        <br><br>
                        If you have purchased a print, you could hang
                        it to a wall as it is. Your local DIY shop will be able to advise you on the best tools and
                        equipment to use in order to protect both the piece and your walls.
                        <br><br>
                        Alternatively, you may wish to have your print framed. You can eith buy a pre-made fram that
                        fits or you can visit a local framer who will be able to work with your aesthetic.
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingNine">
                    <h2>
                        <button class="btn" type="button" data-toggle="collapse" data-target="#collapseNine"
                            aria-expanded="false" aria-controls="collapseNine">
                            <strong>Can I return my artwork?</strong>
                        </button>
                    </h2>
                </div>
                <div id="collapseNine" class="collapse" aria-labelledby="headingNine" data-parent="#faqaccordion">
                    <div class="card-body">
                        If you are not 100% satisfied with the piece that you recieve, <a href="{% url 'contact' %}">you can <strong>contact us</strong></a> for either a
                        refund or an exchange.<br><br>Please note that exchanges are not always possible.
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingTen">
                    <h2>
                        <button class="btn" type="button" data-toggle="collapse" data-target="#collapseTen"
                            aria-expanded="false" aria-controls="collapseTen">
                            <strong>My artwork arrived damaged - what can I do?</strong>
                        </button>
                    </h2>
                </div>
                <div id="collapseTen" class="collapse" aria-labelledby="headingTen" data-parent="#faqaccordion">
                    <div class="card-body">
                        If your piece arrives damage, <a href="{% url 'contact' %}">you can <strong>contact us</strong></a> straight away. We will arrange for either a
                        replacement or a refund.<br><br>
                        Our team may ask you for photgraphs of the damage.
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="text-center">
    <p>Still have questions? <a href="{% url 'contact' %}"><strong>Contact us</strong></a></p>
</div>
{% endblock %}