@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');

* {
    margin: 0 !important;
    padding: 0 !important;
    }

html {
    height: 100%;
}

body {
    font-family: 'Abel', sans-serif;
    color: #3d3d3d;
    background-image: url('/media/bg-image.png');
    background-repeat: no-repeat;
    background-size: 100% auto;
}

.content {
    min-height: calc(100vh - 220px);
}

a {
    color: #3d3d3d !important;
    text-decoration: none !important;
}

.card {
    height: 300px;
    width: 200px;
    outline-offset: 6px;
    outline: #D8B646 1px solid;
    overflow: hidden;
    text-align: center;
    border-radius: 0;
    border: 0;
    margin: 15px !important;
}

.card-img {
    height: 300px;
    width: 200px;
    object-fit: cover;
    z-index: -1;
    border-radius: 0;
}

.card-text {
    background-color: rgba(0, 0, 0, .7);
    box-shadow: 0 0 10px 15px rgba(0, 0, 0, .7);
    color: #E1C2B7;
    position: relative;
    top: -60px;
    padding-bottom: 15px !important;
}

.card:hover {
    text-shadow: 0px 0px 1px #E1C2B7;
}

.product-info-container {
    width: 30vw;
    margin-top: 50px !important;
}

.product-info-img {
    border: 2px solid #D8B646;
    outline-offset: 6px;
    outline: #D8B646 1px solid;
}

.info-img-cont {
    margin-right: 6px !important;
}

.product-info-text {
    text-align: right;
}

/*MEDIA QUERIES*/
@media only screen and (max-width: 992px) {
    .product-info-container {
        width: 50vw;
    }
}

@media only screen and (max-width: 768px) {
    .product-info-container {
        width: 70vw;
    }
}

@media only screen and (max-width: 576px) {
    .product-info-container {
        width: 92vw;
    }

    .info-img-cont {
        margin-right: 0 !important;
    }
}

.bag-img {
    max-width: 100px;
}

.table td {
    vertical-align: middle;
}

tr>td {
    border-top: 1px #D8B646 solid !important;
    border-bottom: 1px #D8B646 solid !important;
    padding: 10px !important;
    text-align: center
}

/* FOOTER */

.footer-container {
    border-top: 1px #D8B646 solid !important;
    border-bottom: 1px #D8B646 solid !important;
    width: 50vw;
    padding: 15px 0px !important;
    margin-top: 30px !important;
    background-color: #fff;
}

footer h5 {
    margin-bottom: 6px !important;
}

footer a:hover {
    text-shadow: 0px 0px 6px #B86E77;

}

.qty_input {
    border-radius: 0;
    border: 1px solid #D8B646;
    color: #3d3d3d;
    margin-left: 10px !important;
    width: 50px;
}

.input-group p {
    margin-top: 6px !important;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.bag-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.update-link, .remove-link {
    padding-left: 30px !important;
    cursor: pointer;
}

