{% extends "account/base.html" %}

{% block extra_title %}Change Password{% endblock %}

{% load i18n %}
{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}

<div class="authentication-container">
    <div class="row">
        <div class="col-12 col-md-10 col-xl-8 col-xxl-6 mx-auto">
            <h1 class="page-title">{% if token_fail %}{% trans "Bad Token" %}{% else %}{% trans "Change Password" %}{% endif %}</h1>
            <hr class="page-title-hr">
            <div class="row">
                <div class="col-12 col-lg-5 mt-3">
                    {% if token_fail %}
                        {% url 'account_reset_password' as passwd_reset_url %}
                        <p>{% blocktrans %}The password reset link was invalid, possibly because it has already been used.  Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}</p>
                    {% else %}
                        {% if form %}
                            <form method="POST" action="{{ action_url }}">
                                {% csrf_token %}
                                {{ form.as_p }}
                                <input type="submit" name="action" value="{% trans 'change password' %}"/>
                            </form>
                        {% else %}
                            <p>{% trans 'Your password is now changed.' %}</p>
                        {% endif %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
