{% extends "account/base.html" %}

{% block extra_title %}Register{% endblock %}

{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}

<div class="authentication-container">
    <div class="row">
        <div class="col-12 col-md-10 col-xl-8 col-xxl-6 mx-auto">
            <h1 class="page-title">{% trans "Register" %}</h1>
            <hr class="page-title-hr">
            <div class="row">
                <div class="col-12 col-lg-5 mt-3">
                    <h2>{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}"><strong>sign in</strong></a>.{% endblocktrans %}</h2>
                    <form class="signup mt-3" id="signup_form" method="post" action="{% url 'account_signup' %}">
                    {% csrf_token %}
                    {{ form|crispy }}
                    {% if redirect_field_value %}
                    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                    {% endif %}
                    <button type="submit" class="btn">{% trans "Register" %}</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}