{% extends 'base.html' %}
{% load static %}

{% block extra_title %}Edit Product{% endblock %}

{% block content %}

<div class="main-container">
    <div class="row justify-content-center">
        <div class="col-12 col-md-10 col-xl-8 col-xxl-6 mx-auto">
            <h1 class="page-title">Product Management</h1>
            <hr class="page-title-hr">
            <div class="row">
                <div class="col-12 col-lg-5 mt-3">
                    <h2>Edit Product</h2>
                    <form method="POST" action="{% url 'edit_product' product.id %}" enctype="multipart/form-data">
                        {% csrf_token %}
                        {% for field in form %}
                            {% if field.name != 'image' %}
                                {{ field | as_crispy_field }}
                            {% else %}
                                {{ field }}
                            {% endif %}
                        {% endfor %}
                        <a class="btn" href="{% url 'products' %}">Cancel</a>
                        <button type="submit" class="btn">Update Product</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
    <script src="{% static 'products/js/edit-product.js' %}"></script>
{% endblock %}