{% extends 'base.html' %}
{% load static %}



{% block content %}



<div class="container product-info-container mx-auto">
    <div class="row">



        <div class="col-12 col-md-6 lg-4">
            <div class="info-img-cont">
            <a href="{{ product.image.url }}" target="blank">
                <img src="{{ product.image.url }}" alt="{{ product.name }}" class="img-fluid product-info-img">
            </a>
        </div>
        </div>




        <div class="col-12 col-md-6 lg-4 product-info-text">
            <p class="info-text2">"{{ product.name }}"</p>
            <p class="info-text2">{{ product.artist }}</p>
            <p class="info-text2">{{ product.description }}</p>

            {% if product.rating %}
                <p class="info-text2">{{ product.rating }} / 5</p>
            {% endif %}

            <p class="info-text2">{{ product.price }}</p>
        </div>


</div>
    </div>


{% endblock %}
