{% extends 'base.html' %}
{% load static %}



{% block content %}
<div>
    {% for c in current_categories %}
        <p>{{ c.friendly_name }}</p>
        </a>
    {% endfor %}
</div>     



<div>
    <select id="sort-selector">
        <option value="reset" {% if current_sorting == 'None_None' %}selected{% endif %}>Sort by...</option>
        <option value="price_asc" {% if current_sorting == 'price_asc' %}selected{% endif %}>Price (low to high)</option>
        <option value="price_desc" {% if current_sorting == 'price_desc' %}selected{% endif %}>Price (high to low)</option>
        <option value="rating_asc" {% if current_sorting == 'rating_asc' %}selected{% endif %}>Rating (low to high)</option>
        <option value="rating_desc" {% if current_sorting == 'rating_desc' %}selected{% endif %}>Rating (high to low)</option>
        <option value="artist_asc" {% if current_sorting == 'artist_asc' %}selected{% endif %}>Artist (A-Z)</option>
        <option value="artist_desc" {% if current_sorting == 'artist_desc' %}selected{% endif %}>Artist (Z-A)</option>
    </select>
</div>


<div>
    <p>
        {{ products|length }} Products{% if search_term %} found for <strong>"{{ search_term }}"</strong>{% endif %}
    </p>
</div>


<div class="row col-12 col-lg-8 mx-auto">
    {% for product in products %}
        <div class="col-12 col-sm-6 col-md-4 col-xl-3 d-flex justify-content-center">
            <div class="card">
                <a href="{% url 'product_detail' product.id %}">
                    <div>
                        <img src="{{ product.image.url }}" class="card-img img-fluid">
                    </div>
                    <div class="card-text">
                        <p>
                            {{ product.name }}
                        </p>
                        <p>
                            €{{ product.price }}
                        </p>
                    </div>
                </a>
            </div>
        </div>
    {% endfor %}
</div>



{% endblock %}
