{% extends 'base.html' %}
{% load static %}

{% block content %}

<div>
    <select id="sort-selector">
        <option value="reset" {% if current_sorting == 'None_None' %}selected{% endif %}>Sort by...</option>
        <option value="price_asc" {% if current_sorting == 'price_asc' %}selected{% endif %}>Price (low to high)</option>
        <option value="price_desc" {% if current_sorting == 'price_desc' %}selected{% endif %}>Price (high to low)</option>
        <option value="artist_asc" {% if current_sorting == 'artist_asc' %}selected{% endif %}>Artist (A-Z)</option>
        <option value="artist_desc" {% if current_sorting == 'artist_desc' %}selected{% endif %}>Artist (Z-A)</option>
        <option value="name_asc" {% if current_sorting == 'name_asc' %}selected{% endif %}>Name (A-Z)</option>
        <option value="name_desc" {% if current_sorting == 'name_desc' %}selected{% endif %}>Name (Z-A)</option>
    </select>
</div>

<div>
    <p>
        {{ products|length }} products
    </p>
</div>

<div class="row mx-auto products-cont">
    <div class="col-12 col-lg-8 mx-auto">
        <div class="row">
        {% for product in products %}
            <div class="col-12 col-sm-6 col-md-4 col-xl-3 d-flex justify-content-center">
                <div class="card item">
                    <a href="{% url 'product_detail' product.id %}">
                        <div>
                            <img src="{{ product.image.url }}" class="card-img img-fluid" alt="{{ product.name }}">
                        </div>
                        <div class="card-text">
                            <p>
                                "{{ product.name }}"
                            </p>
                            <p>
                                €{{ product.price }}
                            </p>
                        </div>
                    </a>
                </div>
            </div>
        {% endfor %}
        </div>
    </div>
</div>

{% endblock %}

{% block postloadjs %}
    {{ block.super }}
<script type="text/javascript">
    $('#sort-selector').change(function() {
        var selector = $(this)
        var currentUrl = new URL(window.location);

        var selectedVal = selector.val();
        if(selectedVal != "reset"){
            var sort = selectedVal.split("_")[0];
            var direction = selectedVal.split("_")[1];

            currentUrl.searchParams.set("sort", sort);
            currentUrl.searchParams.set("direction", direction);

            window.location.replace(currentUrl);
        } else {
            currentUrl.searchParams.delete("sort");
            currentUrl.searchParams.delete("direction");

            window.location.replace(currentUrl);

        }

    })

</script>
{% endblock %}