{% extends 'base.html' %}
{% load static %}

{% block extra_title %}Class Information{% endblock %}

{% block content %}
<div class="container class-info-container mx-auto">
    <h1 class="page-title">{{ class.name }}</h1>
    <hr class="page-title-hr">
    <div class="row mt-4">
        <div class="col-12 col-md-6">
            {% if request.user.is_authenticated %}
            <div class="video-container">
                {% if class.video_url or class.video.url %}
                    {% if class.video_url %}
                        <iframe src="{{ class.video_url }}" allow="autoplay;" allowfullscreen></iframe>
                    {% endif %}
                    {% if class.video %}
                        <video controls>
                            <source src="{{ class.video.url }}" type="video/mp4">
                        </video>
                    {% endif %}
                {% else %}  
                    <img src="{{ MEDIA_URL }}no-video.png">
                {% endif %}    
            </div>
            {% else %}
            <div class="text-center">
                <p class="top-text mb-1">You need to be logged in in to view this class</p>
                <a href="{% url 'account_login' %}" class="btn mb-3">Log In</a>
                <p class="mt-2">If you don't have an account, you can use the button below to create one<br>Once you have an account, you will be able to access all of the class content that we offer<br>And for a limited time, you will recieve 15% off your first order!</p>
                <a href="{% url 'account_signup' %}" class="btn">Register</a>
            </div>
        {% endif %}            
        </div>
        <div class="col-12 col-lg-1 divider"></div>
        <div class="col-12 col-lg-1"></div>
        <div class="col-12 col-md-4">
            <p class="info-text2 mb-1">Level: {{ class.level.friendly_name }}</p>
            <p class="info-text2 mb-1">{{ class.description }}</p>
            <p class="info-text2 mb-1">Duration: {{ class.duration|time:"H:i:s" }}</p>
            <div class="mt-2">
                <a href="{% url 'classes' %}" class="btn">All Classes</a>
                <a href="{% url 'products' %}" class="btn">Shop Now!</a>
            </div>
            {% if request.user.is_superuser %}
                <div class="mt-5">
                    <a href="{% url 'edit_class' class.id %}" class="admin-edit-btn mr-2">Edit Class</a>
                    <button type="button" class="admin-delete-btn" data-toggle="modal" data-target="#delete_class{{class.id}}">
                        Delete Class
                    </button>
                </div>
                <div class="modal fade mt-5" id="delete_class{{class.id}}" tabindex="-1" role="dialog"
                aria-labelledby="delete_class{{class.id}}Label" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="delete_class{{class.id}}Label">Delete Confirmation</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <p class="mt-1">You are about to pemanantly delete this class</p>
                            <p class="mt-1">Once you have deleted it, you cannot get it back</p>
                            <p class="mt-1">Are you sure that you wish to delete?</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn mr-2" data-dismiss="modal">Cancel</button>
                            <a href="{% url 'delete_class' class.id %}" class="btn modal-del-btn">Delete</a>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}