{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container class-info-container mx-auto">
    <div class="row">
        <div class="col-12 col-md-7">
        {% if request.user.is_authenticated %}
            <div class="video-container">
                {% if class.video_url %}
                    <iframe src="{{ class.video_url }}" allow="autoplay;" allowfullscreen></iframe>
                {% endif %}

                {% if class.video %}
                    <video controls>
                        <source src="{{ class.video.url }}" type="video/mp4">
                    </video>
                {% endif %}
            </div>
        {% else %}
                <p>You need to be logged in in to view this classs.</p>
        {% endif %}            
        </div>

        <div class="col-12 col-md-5">
            <p class="info-text2 mb-1 top-text">{{ class.name }}</p>
            <p class="info-text2 mb-1">Level: {{ class.level }}</p>
            <p class="info-text2 mb-1">{{ class.description }}</p>
            {% if request.user.is_superuser %}
                <div class="mt-5">
                    <a href="{% url 'edit_class' class.id %}" class="admin-edit-btn mr-2">Edit Class</a>
                    <button type="button" class="admin-delete-btn" data-toggle="modal" data-target="#delete_class{{class.id}}">
                        Delete Class
                    </button>
                </div>

                <div class="modal" id="delete_class{{class.id}}">
                    <div class="modal-content">
                        <p>You are about to pemanantly delete this class</p>
                        <p>Once you have deleted it, you cannot get it back</p>
                        <p>Are you sure that you wish to delete?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn" data-dismiss="modal">Cancel</button>
                        <a href="{% url 'delete_class' class.id %}" class="btn">Delete</a>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
</div>



{% endblock %}


